<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Lab Map</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/login">Sign In</a>
                <a class="nav-link" href="/registration">Sign Up</a>
                <a class="nav-link" href="#">Notification</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Profile Name
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>

                <nav class="navbar navbar-light bg-light">
                <form method="post" class="form-inline" action="/search/">
                    <input name="name" class="form-control mr-sm-2" type="search" placeholder="Search for technician" aria-label="Search">
                    <input name="price" class="form-control mr-sm-2" type="search" placeholder="Search for price" aria-label="Search">
                    <input name="exp" class="form-control mr-sm-2" type="search" placeholder="Search for experience" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                </nav>

            </div>
        </div>
    </div>
</nav>