
<% arr.forEach(function(tech){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h4><%= tech.firstName %></h4>
                    </div>
                 </div>
            </div>
        <% }); %>
